---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import AboutUs from "../components/AboutUs.astro";
import Gallery from "../components/Gallery.astro";
import Testimonials from "../components/Testimonials.astro";
import Appointment from "../components/Appointment.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Premium Spa & Salon">
	<Header />
	<main>
		<Hero />
		<Services />
		<Testimonials />
		<Appointment />
	</main>
	<Footer />
</Layout>
